<!-- Copy this file to phpunit.xml and change user/password -->
<!-- Do not version this file when there are passwords in it !!! -->
<phpunit bootstrap="../vendor/autoload.php">
    <testsuite name="unit">
        <directory>.</directory>
    </testsuite>
    <php>
        <includePath>.</includePath>
        <env name="user" value="" />
        <env name="password" value="" />
    </php>
</phpunit>
