%alert {
    display: block;
    padding: 10px;
    line-height: var(--#{$prefix}-line-height, 1.5);
    position: relative;
}

$kwai-alert-class-name: #{$prefix}alert;

@mixin kwai-theme-alert($theme-name: 'default') {
    $class: '.' + $theme-name + "\\:" + $kwai-alert-class-name;
    @if $theme-name == 'default' {
        $class: '.' + $kwai-alert-class-name + ', ' + $class;
    }

    #{$class} {
        @extend %alert;
        background-color: var(--#{$prefix}color-#{$theme-name}-bg);
        color: var(--#{$prefix}color-#{$theme-name}-fg);
    }
}

@include kwai-theme-alert('danger');
@include kwai-theme-alert('warning');
@include kwai-theme-alert('info');
@include kwai-theme-alert('success');
@include kwai-theme-alert('muted');
