$kwai-badge-height: 19px;

%badge {
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    text-decoration: none;
    line-height: $kwai-badge-height;
    border-radius: 4px;
    padding-left: 8px;
    padding-right: 8px;
    vertical-align: text-top;

    a {
        text-decoration: none;
        color: inherit;
    }
}

.#{$prefix}badge-rounded {
    border-radius: 15px;
}

$kwai-badge-class-name: #{$prefix}badge;
@mixin kwai-theme-badge(
    $palette: 'default',
    $fg: kwai-color($palette),
    $bg: kwai-color($palette, 'bg'))
{
    $class: '.' + $palette + "\\:" + $kwai-badge-class-name;
    @if $palette == 'default' {
        $class: '.' + $kwai-badge-class-name + ', ' + $class;
    }

    #{$class} {
        @extend %badge;
        background-color: $bg;
        color: $fg;
    }
}

@include kwai-theme-badge('default');
@include kwai-theme-badge('danger');
@include kwai-theme-badge('warning');
@include kwai-theme-badge('info');
@include kwai-theme-badge('success');
@include kwai-theme-badge('muted');
@include kwai-theme-badge('primary');
@include kwai-theme-badge('secondary');
