%icon-button {
    border: none;
    font-size: 16px;
    width: 36px;
    height: 36px;
    border-radius: 100px;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    vertical-align: middle;
    text-decoration: none !important;

    &:focus {
        outline:0;
    }
    &:hover {
        text-decoration: none !important;
        &:disabled {
            opacity: 0.4;
        }
    }

    &:disabled {
        opacity: 0.4;
    }
    :not(:disabled) {
        cursor: pointer;
    }
}

$kwai-icon-button-class-name: #{$prefix}icon-button;
@mixin kwai-theme-icon-button($theme-name: 'default') {
    $class: '.' + $theme-name + "\\:" + $kwai-icon-button-class-name;
    @if $theme-name == 'default' {
        $class: '.' + $kwai-icon-button-class-name + ', ' + $class;
    }

    #{$class} {
        @extend %icon-button;
        background-color: var(--#{$prefix}color-#{$theme-name}-bg);
        color: var(--#{$prefix}color-#{$theme-name}-fg);
        &:hover {
            background-color: var(--#{$prefix}color-#{$theme-name}-light);
            color: var(--#{$prefix}color-#{$theme-name}-dark);
        }
    }
}

@include kwai-theme-icon-button('default');
@include kwai-theme-icon-button('primary');
@include kwai-theme-icon-button('secondary');
@include kwai-theme-icon-button('muted');

%button {
    margin: 0;
    border: none;
    overflow: visible;
    font: inherit;
    text-transform: none;
    display: inline-block;
    box-sizing: border-box;
    padding: 0 30px;
    line-height: 38px;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

$kwai-button-class-name: #{$prefix}button;
@mixin kwai-theme-button($theme-name: 'default') {
    $class: '.' + $theme-name + "\\:" + $kwai-button-class-name;
    @if $theme-name == 'default' {
        $class: '.' + $kwai-button-class-name + ', ' + $class;
    }

    #{$class} {
        @extend %button;
        background-color: var(--#{$prefix}color-#{$theme-name}-bg);
        color: var(--#{$prefix}color-#{$theme-name}-light);
        border: 1px solid var(--#{$prefix}color-#{$theme-name}-light);
        &:hover {
            border: 1px solid var(--#{$prefix}color-#{$theme-name}-dark);
        }
        &:disabled {
            background-color: var(--#{$prefix}color-#{$theme-name}-light);
            cursor: default;
        }
    }
}

@include kwai-theme-button('default');
@include kwai-theme-button('primary');
@include kwai-theme-button('secondary');
@include kwai-theme-button('muted');
@include kwai-theme-button('danger');


.#{$prefix}buttons {
    .#{$prefix}icon-button:not(:last-child) {
        margin-right: 10px;
    }
    .#{$prefix}button:not(:last-child) {
        margin-right: 10px;
    }
}
