// For now this is just a copy from uikit (http://getuikit.com)

// Variables
// ========================================================================

$form-height:                                    40px;
$form-line-height:                               40px;
$form-padding-horizontal:                        10px !default;
$form-padding-vertical:                          4px !default;

$form-background:                                var(--#{prefix}color-default-bg) !default;
$form-color:                                     var(--#{prefix}color-default-fg) !default;

$form-focus-background:                          var(--#{prefix}color-default-bg) !default;
$form-focus-color:                               var(--#{prefix}color-default-fg) !default;

$form-disabled-background:                       var(--#{prefix}color-default-muted-bg) !default;
$form-disabled-color:                            var(--#{prefix}color-default-muted-fg) !default;

$form-placeholder-color:                         var(--#{prefix}color-default-muted-fg) !default;

$form-small-height:                              30px !default;
$form-small-padding-horizontal:                  8px !default;
$form-small-line-height:                         $form-small-height !default;
$form-small-font-size:                           0.875rem !default;

$form-large-height:                              55px !default;
$form-large-padding-horizontal:                  12px !default;
$form-large-line-height:                         $form-large-height !default;
$form-large-font-size:                           1.25rem !default;

$form-danger-color:                              var(--#{prefix}color-danger-fg) !default;
$form-success-color:                             var(--#{prefix}color-success-fg) !default;

$form-width-xsmall:                              50px !default;
$form-width-small:                               130px !default;
$form-width-medium:                              200px !default;
$form-width-large:                               500px !default;

$form-select-padding-right:                      20px !default;
$form-select-icon-color:                         var(--#{prefix}color-default-fg) !default;
$form-select-option-color:                       #444 !default;
$form-select-disabled-icon-color:                var(--#{prefix}color-muted-fg) !default;

$form-datalist-padding-right:                    20px !default;
$form-datalist-icon-color:                       var(--#{prefix}color-default-fg) !default;

$form-radio-size:                                16px !default;
$form-radio-margin-top:                          -4px !default;
$form-radio-background:                          var(--#{prefix}color-muted-dark) !default;

$form-radio-checked-background:                  var(--#{prefix}color-primary-bg) !default;
$form-radio-checked-icon-color:                  var(--#{prefix}color-primary-fg) !default;

$form-radio-checked-focus-background:            var(--#{prefix}color-primary-dark) !default;

$form-radio-disabled-background:                 var(--#{prefix}color-mutedt-bg) !default;
$form-radio-disabled-icon-color:                 var(--#{prefix}color-muted-fg) !default;

$form-legend-font-size:                          2.625rem !default;
$form-legend-line-height:                        1.4 !default;

$form-stacked-margin-bottom:                     10px !default;

$form-horizontal-label-width:                    200px !default;
$form-horizontal-label-margin-top:               7px !default;
$form-horizontal-controls-margin-left:           215px !default;
$form-horizontal-controls-text-padding-top:      7px !default;

$form-icon-width:                                $form-height !default;
$form-icon-color:                                var(--#{prefix}color-muted-fg) !default;
$form-icon-hover-color:                          var(--#{prefix}color-default-fg) !default;

$internal-form-select-image: "data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2224%22%20height%3D%2216%22%20viewBox%3D%220%200%2024%2016%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22#000%22%20points%3D%2212%201%209%206%2015%206%22%20%2F%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22#000%22%20points%3D%2212%2013%209%208%2015%208%22%20%2F%3E%0A%3C%2Fsvg%3E%0A" !default;
$internal-form-datalist-image: "data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2224%22%20height%3D%2216%22%20viewBox%3D%220%200%2024%2016%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22#000%22%20points%3D%2212%2012%208%206%2016%206%22%20%2F%3E%0A%3C%2Fsvg%3E%0A" !default;
$internal-form-radio-image: "data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Ccircle%20fill%3D%22#000%22%20cx%3D%228%22%20cy%3D%228%22%20r%3D%222%22%20%2F%3E%0A%3C%2Fsvg%3E" !default;
$internal-form-checkbox-image: "data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2214%22%20height%3D%2211%22%20viewBox%3D%220%200%2014%2011%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22#000%22%20points%3D%2212%201%205%207.5%202%205%201%205.5%205%2010%2013%201.5%22%20%2F%3E%0A%3C%2Fsvg%3E%0A" !default;
$internal-form-checkbox-indeterminate-image: "data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Crect%20fill%3D%22#000%22%20x%3D%223%22%20y%3D%228%22%20width%3D%2210%22%20height%3D%221%22%20%2F%3E%0A%3C%2Fsvg%3E" !default;

@function str-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}

@mixin svg-fill($src, $color-default, $color-new){

    $replace-src: str-replace($src, $color-default, $color-new) !default;
    $replace-src: str-replace($replace-src, "#", "%23");
    background-image: url(quote($replace-src));
}

/* ========================================================================
   Component: Form
 ========================================================================== */

.#{$prefix}range {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    outline: none;
    background: #d3d3d3;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacify .2s;

    /* Mouse-over effects */
    &:hover {
      opacity: 1; /* Fully shown on mouse-over */
    }

    /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
    &::-webkit-slider-thumb {
      -webkit-appearance: none; /* Override default look */
      appearance: none;
      width: 25px; /* Set a specific slider handle width */
      height: 25px; /* Slider handle height */
      background: kwai-color('primary');
      cursor: pointer; /* Cursor on hover */
    }

    &::-moz-range-thumb {
      width: 25px; /* Set a specific slider handle width */
      height: 25px; /* Slider handle height */
      background: #4CAF50; /* Green background */
      cursor: pointer; /* Cursor on hover */
    }
}

/*
 * 1. Define consistent box sizing.
 *    Default is `content-box` with following exceptions set to `border-box`
 *    `select`, `input[type="checkbox"]` and `input[type="radio"]`
 *    `input[type="search"]` in Chrome, Safari and Opera
 *    `input[type="color"]` in Firefox
 * 2. Address margins set differently in Firefox/IE and Chrome/Safari/Opera.
 * 3. Remove `border-radius` in iOS.
 * 4. Change font properties to `inherit` in all browsers.
 */

.#{$prefix}input,
.#{$prefix}select,
.#{$prefix}textarea,
.#{$prefix}radio,
.#{$prefix}checkbox {
    /* 1 */
    box-sizing: border-box;
    /* 2 */
    margin: 0;
    /* 3 */
    border-radius: 0;
    /* 4 */
    font: inherit;
}

/*
 * Show the overflow in Edge.
 */

.#{$prefix}input { overflow: visible; }

/*
 * Remove the inheritance of text transform in Firefox.
 */

.#{$prefix}select { text-transform: none; }

/*
 * 1. Change font properties to `inherit` in all browsers
 * 2. Don't inherit the `font-weight` and use `bold` instead.
 * NOTE: Both declarations don't work in Chrome, Safari and Opera.
 */

.#{$prefix}select optgroup {
    /* 1 */
    font: inherit;
    /* 2 */
    font-weight: bold;
}

/*
 * Remove the default vertical scrollbar in IE 10+.
 */

.#{$prefix}textarea { overflow: auto; }

/*
 * Remove the inner padding and cancel buttons in Chrome on OS X and Safari on OS X.
 */

.#{$prefix}input[type="search"]::-webkit-search-cancel-button,
.#{$prefix}input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }


/*
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

.#{$prefix}input[type="number"]::-webkit-inner-spin-button,
.#{$prefix}input[type="number"]::-webkit-outer-spin-button { height: auto; }

/*
 * Removes placeholder transparency in Firefox.
 */

.#{$prefix}input::-moz-placeholder,
.#{$prefix}textarea::-moz-placeholder { opacity: 1; }

/*
 * Improves consistency of cursor style for clickable elements
 */

.#{$prefix}radio:not(:disabled),
.#{$prefix}checkbox:not(:disabled) { cursor: pointer; }

/*
 * Define consistent border, margin, and padding.
 */

.#{$prefix}fieldset {
    border: none;
    margin: 0;
    padding: 0;
}


/* Input, select and textarea
 * Allowed: `text`, `password`, `datetime`, `datetime-local`, `date`,  `month`,
            `time`, `week`, `number`, `email`, `url`, `search`, `tel`, `color`
 * Disallowed: `range`, `radio`, `checkbox`, `file`, `submit`, `reset` and `image`
 ========================================================================== */

/*
 * Remove default style in iOS.
 */

.#{$prefix}input,
.#{$prefix}textarea { -webkit-appearance: none; }

/*
 * 1. Prevent content overflow if a fixed width is used
 * 2. Take the full width
 * 3. Reset default
 * 4. Style
 */

.#{$prefix}input,
.#{$prefix}select,
.#{$prefix}textarea {
    /* 1 */
    max-width: 100%;
    /* 2 */
    width: 100%;
    /* 3 */
    border: 1px solid kwai-color('default', 'light');
    /* 4 */
    padding: 0 $form-padding-horizontal;
    background: $form-background;
    color: $form-color;
}

/*
 * Single-line
 * 1. Allow any element to look like an `input` or `select` element
 * 2. Make sure line-height is not larger than height
 *    Also needed to center the text vertically
 */

.#{$prefix}input,
.#{$prefix}select:not([multiple]):not([size]) {
    height: $form-height;
    vertical-align: middle;
    /* 1 */
    display: inline-block;
}

/* 2 */
.#{$prefix}input:not(input),
.#{$prefix}select:not(select) { line-height: $form-line-height; }

/*
 * Multi-line
 */

.#{$prefix}select[multiple],
.#{$prefix}select[size],
.#{$prefix}textarea {
    padding-top: $form-padding-vertical;
    padding-bottom: $form-padding-vertical;
    vertical-align: top;
}

/* Focus */
.#{$prefix}input:focus,
.#{$prefix}select:focus,
.#{$prefix}textarea:focus {
    outline: none;
    background-color: $form-focus-background;
    color: $form-focus-color;
}

/* Disabled */
.#{$prefix}input:disabled,
.#{$prefix}select:disabled,
.#{$prefix}textarea:disabled {
    background-color: $form-disabled-background;
    color: $form-disabled-color;
}

/*
 * Placeholder
 */

.#{$prefix}input::-ms-input-placeholder { color: $form-placeholder-color !important; }
.#{$prefix}input::placeholder { color: $form-placeholder-color; }

.#{$prefix}textarea::-ms-input-placeholder { color: $form-placeholder-color !important; }
.#{$prefix}textarea::placeholder { color: $form-placeholder-color; }


/* Style modifier (`uk-input`, `uk-select` and `uk-textarea`)
 ========================================================================== */

/*
 * Small
 */

.#{$prefix}form-small { font-size: $form-small-font-size; }

.#{$prefix}form-small:not(textarea):not([multiple]):not([size]) {
    height: $form-small-height;
    padding-left: $form-small-padding-horizontal;
    padding-right: $form-small-padding-horizontal;
}

.#{$prefix}form-small:not(select):not(input):not(textarea) { line-height: $form-small-line-height; }

/*
 * Large
 */

.#{$prefix}form-large { font-size: $form-large-font-size; }

.#{$prefix}form-large:not(textarea):not([multiple]):not([size]) {
    height: $form-large-height;
    padding-left: $form-large-padding-horizontal;
    padding-right: $form-large-padding-horizontal;
}

.#{$prefix}form-large:not(select):not(input):not(textarea) { line-height: $form-large-line-height; }


/* Style modifier (`uk-input`, `uk-select` and `uk-textarea`)
 ========================================================================== */

/*
 * Error
 */

.#{$prefix}form-danger,
.#{$prefix}form-danger:focus {
    color: $form-danger-color;
}

/*
 * Success
 */

.#{$prefix}form-success,
.#{$prefix}form-success:focus  {
    color: $form-success-color;
}

/*
 * Blank
 */

.#{$prefix}form-blank {
    background: none;
}

.#{$prefix}form-blank:focus {
}


/* Width modifiers (`uk-input`, `uk-select` and `uk-textarea`)
 ========================================================================== */

/*
 * Fixed widths
 * Different widths for mini sized `input` and `select` elements
 */

input.#{$prefix}form-width-xsmall { width: $form-width-xsmall; }

select.#{$prefix}form-width-xsmall { width: ($form-width-xsmall + 25px); }

.#{$prefix}form-width-small { width: $form-width-small; }

.#{$prefix}form-width-medium { width: $form-width-medium; }

.#{$prefix}form-width-large { width: $form-width-large; }


/* Select
 ========================================================================== */

/*
 * 1. Remove default style. Also works in Firefox
 * 2. Style
 * 3. Remove default style in IE 10/11
 * 4. Set `color` for options in the select dropdown, because the inherited `color` might be too light.
 */

.#{$prefix}select:not([multiple]):not([size]) {
    /* 1 */
    -webkit-appearance: none;
    -moz-appearance: none;
    /* 2 */
    padding-right: $form-select-padding-right;
    @include svg-fill($internal-form-select-image, "#000", $form-select-icon-color);
    background-repeat: no-repeat;
    background-position: 100% 50%;
}

/* 3 */
.#{$prefix}select:not([multiple]):not([size])::-ms-expand { display: none; }

/* 4 */
.#{$prefix}select:not([multiple]):not([size]) option { color: $form-select-option-color; }

/*
 * Disabled
 */

.#{$prefix}select:not([multiple]):not([size]):disabled { @include svg-fill($internal-form-select-image, "#000", $form-select-disabled-icon-color); }


/* Datalist
 ========================================================================== */

/*
 * 1. Remove default style in Chrome
 */

 .#{$prefix}input[list] {
    padding-right: $form-datalist-padding-right;
    background-repeat: no-repeat;
    background-position: 100% 50%;
}

.#{$prefix}input[list]:hover,
.#{$prefix}input[list]:focus { @include svg-fill($internal-form-datalist-image, "#000", $form-datalist-icon-color); }

/* 1 */
.#{$prefix}input[list]::-webkit-calendar-picker-indicator { display: none; }


/* Radio and checkbox
 * Note: Does not work in IE11
 ========================================================================== */

/*
 * 1. Style
 * 2. Make box more robust so it clips the child element
 * 3. Vertical alignment
 * 4. Remove default style
 * 5. Fix black background on iOS
 * 6. Center icons
 */

.#{$prefix}radio,
.#{$prefix}checkbox {
    /* 1 */
    display: inline-block;
    height: $form-radio-size;
    width: $form-radio-size;
    /* 2 */
    overflow: hidden;
    /* 3 */
    margin-top: $form-radio-margin-top;
    vertical-align: middle;
    /* 4 */
    -webkit-appearance: none;
    -moz-appearance: none;
    /* 5 */
    background-color: $form-radio-background;
    /* 6 */
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.#{$prefix}checkbox {
    border: 1px solid black;
}

.#{$prefix}radio { border-radius: 50%; }

/* Focus */
.#{$prefix}radio:focus,
.#{$prefix}checkbox:focus {
    outline: none;
}

/*
 * Checked
 */

.#{$prefix}radio:checked,
.#{$prefix}checkbox:checked,
.#{$prefix}checkbox:indeterminate {
    background-color: $form-radio-checked-background;
}

/* Focus */
.#{$prefix}radio:checked:focus,
.#{$prefix}checkbox:checked:focus,
.#{$prefix}checkbox:indeterminate:focus {
    background-color: $form-radio-checked-focus-background;
}

/*
 * Icons
 */

.#{$prefix}radio:checked { @include svg-fill($internal-form-radio-image, "#000", $form-radio-checked-icon-color); }
.#{$prefix}checkbox:checked { @include svg-fill($internal-form-checkbox-image, "#000", $form-radio-checked-icon-color); }
.#{$prefix}checkbox:indeterminate { @include svg-fill($internal-form-checkbox-indeterminate-image, "#000", $form-radio-checked-icon-color); }

/*
 * Disabled
 */

.#{$prefix}radio:disabled,
.#{$prefix}checkbox:disabled {
    background-color: $form-radio-disabled-background;
}

.#{$prefix}radio:disabled:checked { @include svg-fill($internal-form-radio-image, "#000", $form-radio-disabled-icon-color); }
.#{$prefix}checkbox:disabled:checked { @include svg-fill($internal-form-checkbox-image, "#000", $form-radio-disabled-icon-color); }
.#{$prefix}checkbox:disabled:indeterminate { @include svg-fill($internal-form-checkbox-indeterminate-image, "#000", $form-radio-disabled-icon-color); }


/* Legend
 ========================================================================== */

/*
 * Legend
 * 1. Behave like block element
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove padding so people aren't caught out if they zero out fieldsets.
 * 4. Style
 */

.#{$prefix}legend {
    /* 1 */
    width: 100%;
    /* 2 */
    color: inherit;
    /* 3 */
    padding: 0;
    /* 4 */
    font-size: $form-legend-font-size;
    line-height: $form-legend-line-height;
}


/* Custom controls
 ========================================================================== */

/*
 * 1. Container fits its content
 * 2. Create position context
 * 3. Prevent content overflow
 * 4. Behave like most inline-block elements
 */

.#{$prefix}form-custom {
    /* 1 */
    display: inline-block;
    /* 2 */
    position: relative;
    /* 3 */
    max-width: 100%;
    /* 4 */
    vertical-align: middle;
}

/*
 * 1. Position and resize the form control to always cover its container
 * 2. Required for Firefox for positioning to the left
 * 3. Required for Webkit to make `height` work
 * 4. Hide controle and show cursor
 * 5. Needed for the cursor
 * 6. Clip height caused by 5. Needed for Webkit only
 */

.#{$prefix}form-custom select,
.#{$prefix}form-custom input[type="file"] {
    /* 1 */
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    /* 2 */
    left: 0;
    /* 3 */
    -webkit-appearance: none;
    /* 4 */
    opacity: 0;
    cursor: pointer;
}

.#{$prefix}form-custom input[type="file"] {
    /* 5 */
    font-size: 500px;
    /* 6 */
    overflow: hidden;
}


/* Label
 ========================================================================== */

.#{$prefix}form-label {
    font-weight: bold;
}


/* Layout
 ========================================================================== */

/*
 * Stacked
 */

.#{$prefix}form-stacked .#{$prefix}form-label {
    display: block;
    margin-bottom: $form-stacked-margin-bottom;
}

/*
 * Horizontal
 */

/* Tablet portrait and smaller */
@include mq($until: desktop) {

    /* Behave like `uk-form-stacked` */
    .#{$prefix}form-horizontal .#{$prefix}form-label {
        display: block;
        margin-bottom: $form-stacked-margin-bottom;
    }

}

/* Tablet landscape and bigger */
@include mq($from: desktop) {
    .#{$prefix}form-horizontal .#{$prefix}form-label {
        width: $form-horizontal-label-width;
        margin-top: $form-horizontal-label-margin-top;
        float: left;
    }

    .#{$prefix}form-horizontal .#{$prefix}form-controls { margin-left: $form-horizontal-controls-margin-left; }

    /* Better vertical alignment if controls are checkboxes and radio buttons with text */
    .#{$prefix}form-horizontal .#{$prefix}form-controls-text { padding-top: $form-horizontal-controls-text-padding-top; }

}


/* Icons
 ========================================================================== */

/*
 * 1. Set position
 * 2. Set width
 * 3. Center icon vertically and horizontally
 * 4. Style
 */

.#{$prefix}form-icon {
    /* 1 */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    /* 2 */
    width: $form-icon-width;
    /* 3 */
    display: inline-flex;
    justify-content: center;
    align-items: center;
    /* 4 */
    color: $form-icon-color;
}

/*
 * Required for `a`.
 */

.#{$prefix}form-icon:hover { color: $form-icon-hover-color; }

/*
 * Make `input` element clickable through icon, e.g. if it's a `span`
 */

.#{$prefix}form-icon:not(a):not(button):not(input) { pointer-events: none; }

/*
 * Input padding
 */

.#{$prefix}form-icon:not(.#{$prefix}form-icon-flip) ~ .#{$prefix}input { padding-left: $form-icon-width !important; }

/*
 * Position modifier
 */

.#{$prefix}form-icon-flip {
    right: 0;
    left: auto;
}

.#{$prefix}form-icon-flip ~ .#{$prefix}input { padding-right: $form-icon-width !important; }
