.#{$prefix}list {
    padding: 0;
    list-style: none;

    > li:nth-child(n+2),
    > li > ul {
        margin-top: 10px;
    }

    > li > :last-child {
        margin-bottom: 0;
    }

    ul {
        margin: 0;
        padding-left: 30px;
        list-style: none;
    }
}

.#{$prefix}attributes {
  display: grid;
  grid-gap: 1em;

  @include mq($until: tablet) {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  @include mq($from: tablet) {
    grid-template-columns: auto minmax(10ch, 1fr);
    grid-template-rows: 1fr;
  }

  dt {
    grid-column-start: 1;
  }

  dd {
    grid-column-start: 1;

    @include mq($from: tablet) {
      grid-column-start: 2;
    }
  }
}
