// For now a copy from uikit ...

/* ========================================================================
   Component: Pagination
 ========================================================================== */

/*
 * 1. Allow items to wrap into the next line
 * 2. Gutter
 * 3. Reset list
 */

.#{$prefix}pagination {
    display: flex;
    /* 1 */
    flex-wrap: wrap;
    /* 2 */
    margin-left: -20px;
    /* 3 */
    padding: 0;
    list-style: none;
}

/*
 * 1. Space is allocated solely based on content dimensions: 0 0 auto
 * 2. Gutter
 * 3. Create position context for dropdowns
 */

.#{$prefix}pagination > * {
    /* 1 */
    flex: none;
    /* 2 */
    padding-left: 20px;
    /* 3 */
    position: relative;
}


/* Items
 ========================================================================== */

/*
 * 1. Prevent gap if child element is `inline-block`, e.g. an icon
 * 2. Style
 */

.#{$prefix}pagination > * > * {
    /* 1 */
    display: block;
    /* 2 */
    color: var(--kwai-color-default-text);
}

/* Hover + Focus */
.#{$prefix}pagination > * > :hover,
.#{$prefix}pagination > * > :focus {
    color: var(--kwai-color-default-text);
    text-decoration: none;
    cursor: pointer;
}

/* Active */
.#{$prefix}pagination > .#{$prefix}active > * {
    color: var(--kwai-color-muted);
}

/* Disabled */
.#{$prefix}pagination > .#{$prefix}disabled > * {
    color: var(--kwai-color-muted);
    cursor: default;
}
