*.key
/docs/
kwai.development.yaml
/.vagrant
/.*.cache
/vendor/
/config/config.acc.php
/config/config.php
/config/config.production.php
/hosts.*.yml
/.idea
/config/.kwai
/config/.kwai.acc
/config/.kwai.production
