parameters:
    level: 2
    paths:
        - src/kwai
        - tests
    excludePaths:
        - src/kwai/Modules/Applications/Infrastructure/Migrations/*
        - src/kwai/Modules/Club/Infrastructure/Migrations/*
        - src/kwai/Modules/Coaches/Infrastructure/Migrations/*
        - src/kwai/Modules/Mails/Infrastructure/Migrations/*
        - src/kwai/Modules/News/Infrastructure/Migrations/*
        - src/kwai/Modules/Pages/Infrastructure/Migrations/*
        - src/kwai/Modules/Trainings/Infrastructure/Migrations/*
        - src/kwai/Modules/Users/Infrastructure/Migrations/*
    ignoreErrors:
        -
            message: '#Undefined variable: $this#'
            paths:
                - tests
services:
-
    class: App\PHPStan\EntityClassReflectionExtension
    tags:
        - phpstan.broker.methodsClassReflectionExtension
