parameters:
    level: 2
    paths:
        - src/kwai
    excludes_analyse:
        - src/kwai/Modules/Users/Infrastructure/Migrations/*
        - src/kwai/Modules/Mails/Infrastructure/Migrations/*
services:
-
    class: App\PHPStan\EntityClassReflectionExtension
    tags:
        - phpstan.broker.methodsClassReflectionExtension
