@tailwind base;

* {
    @apply leading-normal m-0 p-0;
    box-sizing: border-box;
}

html {
    @apply text-base font-sans text-gray-700;
}

h1 {
    @apply text-2xl mb-3;
}

h2 {
    @apply text-xl mb-3;
}

h3 {
    @apply text-lg mb-3;
}

h4 {
    @apply font-bold mb-3;
}

p {
    @apply mb-3;
}

a {
  @apply text-blue-600;
}

@tailwind components;

.cover {
    @apply absolute inset-0;
}

.header-line {
    @apply flex w-full justify-center items-center text-center;
}

.header-line:after {
    content: '';
    @apply border-t border-solid mx-4 flex-grow flex-shrink-0;
}

.default-button {
    @apply bg-white text-gray-700 py-2 px-4 border border-gray-400 rounded;
}

.default-button:hover {
    @apply bg-gray-100 no-underline cursor-pointer;
}

.default-button:disabled {
    @apply cursor-not-allowed;
}

.red-button {
    @apply bg-red-700 text-red-300 py-2 px-4 rounded;
}

.red-button:hover {
    @apply bg-red-800 no-underline;
}

.red-button:focus {
    @apply outline-none shadow-outline;
}

.red-button:disabled {
    @apply opacity-50 cursor-not-allowed;
}

.icon-button {
    @apply border-none text-base inline-flex justify-center items-center align-middle no-underline rounded-full cursor-pointer;
    width: 36px;
    height: 36px;
}

.icon-button:focus {
    @apply outline-none;
}

.icon-button:hover {
    @apply no-underline;
}

.icon-button:disabled {
    @apply opacity-50 cursor-not-allowed;
}

.badge {
    @apply py-1 px-2 rounded-lg leading-none inline-flex items-center text-xs;
}

.text-meta {
    @apply text-gray-600 text-sm;
}

@tailwind utilities;
