# Database
KWAI_DB_DSN=
KWAI_DB_USER=
KWAI_DB_PASSWORD=

# CORS
KWAI_CORS_SCHEME=
KWAI_CORS_HOST=
KWAI_CORS_PORT=
KWAI_CORS_ORIGIN=
KWAI_CORS_METHODS=

# Security
KWAI_SECURITY_SECRET=
KWAI_SECURITY_RELAXED=

# Mail
KWAI_MAIL_DSN=
KWAI_MAIL_FROM=
KWAI_MAIL_FROM_NAME=

# Website
KWAI_WEBSITE_URL=
KWAI_WEBSITE_EMAIL=${KWAI_MAIL_FROM}
KWAI_WEBSITE_EMAIL_NAME=${KWAI_MAIL_FROM_NAME}

# Filesystem
KWAI_FS_LOCAL=
KWAI_FS_URL=
