* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: var(--#{$prefix}line-height);
}

ul {
    // list-style: none;
    list-style-position: inside;
    padding-left: 30px;
}
embed,
iframe,
img,
object,
video {
  display: block;
  max-width: 100%;
}
[hidden] {
  display: none !important;
}
/* noscript styles */
noscript {
  display: block;
  margin-bottom: 1em;
  margin-top: 1em;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 20px;
}

ul, p {
    margin-bottom: 20px;
}

a {
    color: #39f
}
