$kwai-color-white: #fff;
$kwai-color-muted: lightgrey;

$kwai-color-palette: (
    "default": (
        "base": $kwai-color-white,
        "light": #e5e5e5,
        "text": #666
    ),
    "primary": (
        "base": #39F
    ),
    "secondary" : (
        "base": rgb(198, 28, 24),
        "text": #edb8b6
    ),
    "hero" : (
        "base": #222,
        "text": grey
    ),
    "muted" : (
        "base": $kwai-color-muted,
        "dark": darken($kwai-color-muted, 40%),
        "light": lighten($kwai-color-muted, 20%),
        "text": black
    ),
    "danger" : (
        "base" : #ED4F32,
    ),
    "warning" : (
        "base" : #ff7200
    ),
    "success" : (
        "base" : #15CD72
    )
);

@function kwai-color($palette, $type: 'base') {
    $colors: map-get($kwai-color-palette, $palette);
    @if not $colors {
        @error "Undefined palette #{$palette} used";
    }
    $color: map-get($colors, $type);
    @if $color {
        @return $color;
    }
    @else if $type == 'base' {
        @error "Palette #{$palette} must contain a base color";
    }
    @if $type == 'text' {
        @return white;
    }
    $base: map-get($colors, 'base');
    @if not $base {
        @error "Palette #{$palette} must contain a base color";
    }
    @if $type == 'dark' {
        @return darken($base, 20%);
    }
    @if $type == 'light' {
        @return lighten($base, 20%);
    }
    @error "Undefined type #{$type} used for palette #{$palette}";
}

/* node-sass doesn't support this yet ...
@mixin kwai-colorize() {
    @each $color in map-keys($kwai-color-palette) {
        @content($color);
    }
}
*/

:root {
    @mixin color($palette, $colors, $type, $default) {
        $color: map-get($colors, $type);
        @if not $color {
            $color: $default;
        }
        --#{$prefix}color-#{$palette}-#{$type}: #{$color};
    }

    @each $palette, $colors in $kwai-color-palette {
        $base: map-get($colors, "base");
        @if not $base {
            @error "Color #{$palette} must have a base property!";
        }
        --#{$prefix}color-#{$palette}: #{$base};
        @include color($palette, $colors, "dark", darken($base, 20%));
        @include color($palette, $colors, "light", lighten($base, 20%));
        @include color($palette, $colors, "text", #fff);
    }
}
