$kwai-theme: (
    default: (
        fg: #666,
        bg: white
    ),
    primary: (
        fg: #edb8b6,
        bg: rgb(198, 28, 24)
    ),
    secondary: (
        fg: white,
        bg: #1C1F33
    ),
    danger: (
        fg: #BB2124,
        bg: #BB2124
    ),
    success: (
        fg: #22BB33,
        bg: #22BB33
    ),
    warning: (
        fg: #F0AD4E,
        bg: #F0AD4E
    ),
    info: (
        fg: #969A86,
        bg: #A5A7BF
    ),
    muted: (
        fg: #666666,
        bg: #AAAAAA
    )
);

$global-font-size: 16px;
$global-line-height: 1.5rem;

@function kwai-color($theme: 'default', $type: 'fg') {
  $map: map-get($kwai-theme, $theme);
  @return map-get($map, $type);
}
