$prefix: "kwai-";

@import "_theme.scss";
@import "_reset.scss";

:root {
    --#{$prefix}font-size: #{$global-font-size};
    --#{$prefix}line-height: #{$global-line-height};
    @each $theme-name, $colors in $kwai-theme {
        @each $type, $color in $colors {
            --#{$prefix}color-#{$theme-name}-#{$type}: #{$color};
        }
    }
}

html {
    font-size: var(--#{$prefix}font-size);
}

body {
    font-family: ProximaNova,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

@import "_mq.scss";
@import "elements/_badge.scss";
@import "elements/_button.scss";
@import "elements/_form.scss";
@import "elements/_addon.scss"; // Put here, to override input height
@import "elements/_list.scss";
@import "elements/_pagination.scss";
@import "elements/_switch.scss";
@import "elements/_table.scss";
@import "elements/_text.scss";
@import "elements/_tooltip.scss";

a.kwai-link-reset {
    text-decoration: none !important;
    color: inherit !important;
}

.main-hero {
    background-color: var(--#{$prefix}color-secondary-bg);
}

.hero-container {
    background-color: var(--#{$prefix}color-secondary-bg);
    color: var(--#{$prefix}color-secondary-fg) !important;
    display: grid;
    grid-gap: 10px;
    padding: 20px;
    @include mq($from: desktop) {
        grid-template-columns: fit-content(800px) 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "hero-image hero-text"
        ;
    }
    @include mq($from: mobile, $until: desktop) {
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
        grid-template-areas:
            "hero-image"
            "hero-text"
        ;
    }

    h1, h2, h3 {
        color: var(--#{$prefix}color-secondary-fg);
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

.icon-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @include mq($from: desktop) {
        & .icon-card-item {
            width: 25%;
        }
    }
    @include mq($from: tablet, $until: desktop) {
        & .icon-card-item {
            width: 50%;
        }
    }
    @include mq($from: mobile, $until: tablet) {
        & .icon-card-item {
            width: 100%;
        }
    }
}

@include mq($until: tablet) {
    .#{$prefix}hide-mobile {
        display: none;
    }
}

@include mq($from: tablet, $until: desktop) {
    .#{$prefix}hide-tablet {
        display: none;
    }
}

@include mq($from: tablet) {
    .#{$prefix}hide-from-tablet {
        display: none;
    }
}

.#{$prefix}header-line {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    &:after {
        content: '';
        border-top: 1px solid #e5e5e5;
        margin: 0 20px 0 20px;
        flex: 1 0 20px;
    }
}

.#{$prefix}news-card {
    height: 100%;
    box-shadow: 0px 0px 20px 0 rgba(100, 100, 100, 0.3);
    padding:10px;
    display: grid;
    grid-gap: 10px;

    @include mq($from: tablet) {
        grid-template-columns: auto 1fr;
        grid-template-rows: auto 1fr auto;
        grid-template-areas:
            "news-card-title news-card-title"
            "news-card-image news-card-content"
            "news-card-image news-card-tools"
        ;
    }
    @include mq($from: mobile, $until: tablet) {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 1fr auto;
        grid-template-areas:
            "news-card-title"
            "news-card-image"
            "news-card-content"
            "news-card-tools"
        ;
    }
}

.news-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @include mq($from: wide) {
        & .news-card-item {
            width: 30%;
        }
    }
    @include mq($from: desktop, $until: wide) {
        & .news-card-item {
            width: 40%;
        }
    }
    @include mq($from: mobile, $until: desktop) {
        & .news-card-item {
            width: 100%;
        }
    }
}

.news-card-item {
  margin: 20px;
}

.page-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @include mq($from: wide) {
        & .page-card-item {
            width: 20%;
        }
    }
    @include mq($from: desktop, $until: wide) {
        & .page-card-item {
            width: 30%;
        }
    }
    @include mq($from: tablet, $until: desktop) {
        & .page-card-item {
            width: 45%;
        }
    }
    @include mq($from: mobile, $until: tablet) {
        & .page-card-item {
            width: 100%;
        }
    }
}

.page-card-item {
  margin: 20px;
}

.#{$prefix}page-card {
    height: 100%;
    box-shadow: 0px 0px 20px 0 rgba(100, 100, 100, 0.3);
    padding:10px;
    display: flex;
    flex-direction: column;
}

.page-container {
    display: grid;
    grid-gap: 20px;
    padding: 20px;
    @include mq($from: desktop) {
        grid-template-columns: 3fr 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "page-content page-sidebar"
        ;
    }
    @include mq($from: mobile, $until: desktop) {
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
        grid-template-areas:
            "page-content"
            "page-sidebar"
        ;
    }
}

.#{$prefix}cover-link {
    position:absolute;
    top: 0;
    bottom: 0;
    left:0;
    right:0;
}

.#{$prefix}hover-border:hover {
    box-shadow: 0px 0px 20px 0 rgba(100, 100, 100, 0.3);
    cursor: pointer;
    z-index: 100;
    height: 100%;
}
