{
    "extends" : [
        "strongloop",
        "plugin:vue/essential"
    ],
    "parserOptions" : {
        "parser" : "babel-eslint",
        "sourceType" : "module",
        "ecmaVersion" : 8
    },
    "env" : {
        "browser" : true,
        "es6" : true
    },
    "rules" : {
        "comma-dangle" : [
            "error",
            {
                "functions" : "never",
                "objects" : "only-multiline",
                "arrays" : "always-multiline"
            }
        ],
        "indent" : [
            "error",
            2,
            {
                "ignoreComments" : true
            }
        ]
    }
}
