# Enable rewrite engine and route requests to framework

<IfModule mod_rewrite.c>
#   Options -MultiViews

    RewriteEngine On

    RewriteCond %{HTTP:Authorization} ^(.*)
    RewriteRule .* - [e=HTTP_AUTHORIZATION:%1]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^auth(/.*)?$ /api/auth.php?$1 [QSA,L]
    RewriteRule ^categories(/.*)?$ /api/categories.php?$1 [QSA,L]
    RewriteRule ^countries(/.*)?$ /api/countries.php?$1 [QSA,L]
    RewriteRule ^news(/.*)?$ /api/news.php?$1 [QSA,L]
    RewriteRule ^pages(/.*)?$ /api/pages.php?$1 [QSA,L]
    RewriteRule ^persons(/.*)?$ /api/persons.php?$1 [QSA,L]
    RewriteRule ^seasons(/.*)?$ /api/seasons.php?$1 [QSA,L]
    RewriteRule ^team_categories(/.*)?$ /api/team_categories.php?$1 [QSA,L]
    RewriteRule ^teams(/.*)?$ /api/teams.php?$1 [QSA,L]
    RewriteRule ^events(/.*)?$ /api/events.php?$1 [QSA,L]
    RewriteRule ^trainings(/.*)?$ /api/trainings.php?$1 [QSA,L]
    RewriteRule ^users(/.*)?$ /api/users.php?$1 [QSA,L]
    RewriteRule ^site(/.*)?$ /api/site.php?$1 [QSA,L]
    RewriteRule ^author(/.*)?$ /api/author.php?$1 [QSA,L]

    RewriteCond %{REQUEST_FILENAME} !-f
</IfModule>

<FilesMatch "config\.php">
  Order allow,deny
  Deny from all
</FilesMatch>

#php_value upload_max_filesize 15M
#php_value post_max_size 15M
