# Enable rewrite engine and route requests to framework

<IfModule mod_rewrite.c>
#   Options -MultiViews

    RewriteEngine On

    RewriteCond %{HTTP:Authorization} ^(.*)
    RewriteRule .* - [e=HTTP_AUTHORIZATION:%1]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^auth(/.*)?$ /api/auth.php$1 [L]
    RewriteRule ^categories(/.*)?$ /api/categories.php$1 [L]
    RewriteRule ^countries(/.*)?$ /api/countries.php$1 [L]
    RewriteRule ^news(/.*)?$ /api/news.php$1 [L]
    RewriteRule ^pages(/.*)?$ /api/pages.php$1 [L]
    RewriteRule ^persons(/.*)?$ /api/persons.php$1 [L]
    RewriteRule ^seasons(/.*)?$ /api/seasons.php$1 [L]
    RewriteRule ^team_types(/.*)?$ /api/team_types.php$1 [L]
    RewriteRule ^teams(/.*)?$ /api/teams.php$1 [L]
    RewriteRule ^users(/.*)?$ /api/users.php$1 [L]
    RewriteRule ^user_invitations(/.*)?$ /api/user_invitations.php$1 [L]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>

<FilesMatch "config\.php">
  Order allow,deny
  Deny from all
</FilesMatch>

#php_value upload_max_filesize 15M
#php_value post_max_size 15M
